html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #e8f5f9;
  font-size: 14px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 2;
  letter-spacing: 1.4;
  color: #185466;
}
